.chat {
     &__messageList {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 10px;
     }

     &__messageListAvatar {
          margin-top: 5px;
     }
}
